@charset "UTF-8";
/*Définition des couleurs*/
/*Définition des breakpoints*/
/*Variables relatives au animation*/
/*Valeurs diverses*/
/*MIXINS MEDIA QUERIES*/
/*Définition des polices d'écritures*/
@font-face {
  font-family: "roboto";
  src: url("../fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "shrikhand";
  src: url("../fonts/Shrikhand-Regular.otf") format("truetype");
}

/*Définition de la taille de police*/
html {
  font-size: 12px;
}

/*Definition de la typographie des titres*/
h1 {
  font-family: "shrikhand";
  font-size: 2rem;
}

h2 {
  font-family: "roboto";
  font-weight: bolder;
  font-size: 1.6rem;
}

h3 {
  font-family: "roboto";
  font-weight: bolder;
  font-size: 1.3rem;
}

h4 {
  font-family: "roboto";
  font-weight: bolder;
  font-size: 1.3rem;
}

h5 {
  font-family: "shrikhand";
  color: #FFFF;
  font-size: 1.4rem;
}

h6 {
  font-family: "roboto";
  color: white;
  font-size: 1.3rem;
}

/*Définition de la typographie des textes*/
p {
  font-family: "roboto";
}

/*Définition de la typographie du loading spinner*/
.loading-spinner p {
  font-family: "shrikhand";
  font-size: 5rem;
}

@media screen and (max-width: 499px) {
  .loading-spinner p {
    font-size: 4rem;
  }
}

@media screen and (max-width: 320px) {
  .loading-spinner p {
    font-size: 3rem;
  }
}

html, body {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  height: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

a {
  text-decoration: none;
  color: black;
  font-family: "roboto";
}

/*Définition des couleurs*/
/*Définition des breakpoints*/
/*Variables relatives au animation*/
/*Valeurs diverses*/
.btn {
  border-radius: 30px;
  -webkit-box-shadow: 2px 2px 12px 2px #c7c7c7;
          box-shadow: 2px 2px 12px 2px #c7c7c7;
  height: 50px;
  width: 200px;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(17%, #9356DC), color-stop(93%, #FF79DA));
  background: linear-gradient(0deg, #9356DC 17%, #FF79DA 93%);
  z-index: 1;
  position: relative;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn:hover::after {
  opacity: 1;
}

.btn::after {
  border-radius: 30px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 0;
  z-index: -1;
  -webkit-transition: opacity 250ms;
  transition: opacity 250ms;
  content: "";
  background: -webkit-gradient(linear, left bottom, left top, color-stop(17%, #ae80e5), color-stop(93%, #fface8));
  background: linear-gradient(0deg, #ae80e5 17%, #fface8 93%);
  -webkit-box-shadow: 3px 3px 13px 3px #c7c7c7;
          box-shadow: 3px 3px 13px 3px #c7c7c7;
}

.btn a {
  color: white;
  font-size: 1.45rem;
}

.order-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 5%;
}

@-webkit-keyframes box-shadow-anim {
  0% {
    -webkit-box-shadow: 2px 2px 12px 2px #c7c7c7;
            box-shadow: 2px 2px 12px 2px #c7c7c7;
  }
  100% {
    -webkit-box-shadow: 5px 5px 15px 5px #3b3b3b;
            box-shadow: 5px 5px 15px 5px #3b3b3b;
  }
}

@keyframes box-shadow-anim {
  0% {
    -webkit-box-shadow: 2px 2px 12px 2px #c7c7c7;
            box-shadow: 2px 2px 12px 2px #c7c7c7;
  }
  100% {
    -webkit-box-shadow: 5px 5px 15px 5px #3b3b3b;
            box-shadow: 5px 5px 15px 5px #3b3b3b;
  }
}

body {
  position: relative;
}

.loading-spinner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  opacity: 1;
  z-index: 2;
  margin-right: 0;
  margin-left: -15%;
}

@media screen and (min-width: 770px) {
  .loading-spinner {
    margin-left: 35%;
  }
}

@media screen and (max-width: 375px) {
  .loading-spinner {
    margin-left: -100%;
  }
}

@media screen and (min-width: 500px) and (max-width: 769px) {
  .loading-spinner {
    margin-left: 5%;
  }
}

@media screen and (max-width: 320px) {
  .loading-spinner {
    margin-left: -29%;
  }
}

@media screen and (max-width: 425px) {
  .loading-spinner {
    margin-left: -18%;
  }
}

.loading-spinner p {
  padding-right: 10px;
}

.loading-spinner--o {
  -webkit-animation-name: loading-spinner-animation;
          animation-name: loading-spinner-animation;
  -webkit-animation-duration: 4.5s;
          animation-duration: 4.5s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  opacity: 0;
  position: absolute;
  top: 6%;
  right: 0;
  bottom: 0;
  left: 100px;
}

@media screen and (max-width: 499px) {
  .loading-spinner--o {
    left: 120px;
  }
}

@media screen and (max-width: 320px) {
  .loading-spinner--o {
    left: 120px;
  }
}

.loading-spinner--h {
  -webkit-animation-name: loading-spinner-animation;
          animation-name: loading-spinner-animation;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  opacity: 0;
  position: absolute;
  top: 6%;
  right: 0;
  bottom: 0;
  left: 150px;
}

@media screen and (max-width: 499px) {
  .loading-spinner--h {
    left: 160px;
  }
}

@media screen and (max-width: 320px) {
  .loading-spinner--h {
    left: 150px;
  }
}

.loading-spinner--m {
  -webkit-animation-name: loading-spinner-animation;
          animation-name: loading-spinner-animation;
  -webkit-animation-duration: 3.5s;
          animation-duration: 3.5s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  opacity: 0;
  position: absolute;
  top: 6%;
  right: 0;
  bottom: 0;
  left: 200px;
}

@media screen and (max-width: 499px) {
  .loading-spinner--m {
    left: 205px;
  }
}

@media screen and (max-width: 320px) {
  .loading-spinner--m {
    left: 180px;
  }
}

.loading-spinner--y {
  -webkit-animation-name: loading-spinner-animation;
          animation-name: loading-spinner-animation;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  opacity: 0;
  position: absolute;
  top: 6%;
  right: 0;
  bottom: 0;
  left: 270px;
}

@media screen and (max-width: 499px) {
  .loading-spinner--y {
    left: 265px;
  }
}

@media screen and (max-width: 320px) {
  .loading-spinner--y {
    left: 225px;
  }
}

.loading-spinner--f {
  -webkit-animation-name: loading-spinner-animation;
          animation-name: loading-spinner-animation;
  -webkit-animation-duration: 2.5s;
          animation-duration: 2.5s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  opacity: 0;
  position: absolute;
  top: 6%;
  right: 0;
  bottom: 0;
  left: 320px;
}

@media screen and (max-width: 499px) {
  .loading-spinner--f {
    left: 305px;
  }
}

@media screen and (max-width: 320px) {
  .loading-spinner--f {
    left: 255px;
  }
}

.loading-spinner--o2 {
  -webkit-animation-name: loading-spinner-animation;
          animation-name: loading-spinner-animation;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  opacity: 0;
  position: absolute;
  top: 6%;
  right: 0;
  bottom: 0;
  left: 360px;
}

@media screen and (max-width: 499px) {
  .loading-spinner--o2 {
    left: 340px;
  }
}

@media screen and (max-width: 320px) {
  .loading-spinner--o2 {
    left: 275px;
  }
}

.loading-spinner--o3 {
  -webkit-animation-name: loading-spinner-animation;
          animation-name: loading-spinner-animation;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  opacity: 0;
  position: absolute;
  top: 6%;
  right: 0;
  bottom: 0;
  left: 410px;
}

@media screen and (max-width: 499px) {
  .loading-spinner--o3 {
    left: 380px;
  }
}

@media screen and (max-width: 320px) {
  .loading-spinner--o3 {
    left: 305px;
  }
}

.loading-spinner--d {
  -webkit-animation-name: loading-spinner-animation;
          animation-name: loading-spinner-animation;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-delay: 3.5s;
          animation-delay: 3.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  opacity: 0;
  position: absolute;
  top: 6%;
  right: 0;
  bottom: 0;
  left: 460px;
}

@media screen and (max-width: 499px) {
  .loading-spinner--d {
    left: 420px;
  }
}

@media screen and (max-width: 320px) {
  .loading-spinner--d {
    left: 330px;
  }
}

.blur-target {
  -webkit-animation-name: loading-spinner-body-blur;
          animation-name: loading-spinner-body-blur;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  opacity: 0.1;
}

@-webkit-keyframes loading-spinner-animation {
  0% {
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
    opacity: 0.5;
    color: black;
  }
  50% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
    color: black;
  }
  75% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
    color: #FF79DA;
    z-index: -3;
    display: none;
  }
}

@keyframes loading-spinner-animation {
  0% {
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
    opacity: 0.5;
    color: black;
  }
  50% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
    color: black;
  }
  75% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
    color: #FF79DA;
    z-index: -3;
    display: none;
  }
}

@-webkit-keyframes loading-spinner-body-blur {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes loading-spinner-body-blur {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}

.like-btn {
  position: relative;
}

.like-btn--empty {
  opacity: 1;
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.like-btn--empty:hover {
  -webkit-animation-name: disappear-empty;
          animation-name: disappear-empty;
  -webkit-animation-duration: 250ms;
          animation-duration: 250ms;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.like-btn--full {
  color: #9c47fc;
  display: block;
  background: -webkit-linear-gradient(90deg, #9356DC 20%, #FF79DA 100%);
  display: block;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 3px;
  left: 0;
  z-index: 1;
}

.like-btn--full:hover {
  -webkit-animation-name: appear-full;
          animation-name: appear-full;
  -webkit-animation-duration: 250ms;
          animation-duration: 250ms;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes disappear-empty {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    color: #FFFF;
  }
}

@keyframes disappear-empty {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    color: #FFFF;
  }
}

@-webkit-keyframes appear-full {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    z-index: 1;
  }
}

@keyframes appear-full {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    z-index: 1;
  }
}

.dish-appear {
  opacity: 0;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.dish-appear--order1 {
  -webkit-animation-name: dish-appear-animation;
          animation-name: dish-appear-animation;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.dish-appear--order2 {
  -webkit-animation-name: dish-appear-animation;
          animation-name: dish-appear-animation;
  -webkit-animation-duration: 1000ms;
          animation-duration: 1000ms;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.dish-appear--order3 {
  -webkit-animation-name: dish-appear-animation;
          animation-name: dish-appear-animation;
  -webkit-animation-duration: 1000ms;
          animation-duration: 1000ms;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.dish-appear--order4 {
  -webkit-animation-name: dish-appear-animation;
          animation-name: dish-appear-animation;
  -webkit-animation-duration: 1000ms;
          animation-duration: 1000ms;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes dish-appear-animation {
  0% {
    opacity: 0;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
}

@keyframes dish-appear-animation {
  0% {
    opacity: 0;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
}

.body-menu section {
  background-color: #F6F6F6;
}

.block-menu {
  margin-bottom: 6%;
  width: 98%;
  margin-left: 2%;
}

@media screen and (min-width: 771px) and (max-width: 1024px) {
  .block-menu {
    width: 800px;
  }
}

.block-menu__title {
  margin-left: 5%;
  width: 40px;
  border-bottom: 2px solid #99E2D0;
}

@media screen and (min-width: 770px) {
  .block-menu__title {
    margin-left: 30%;
  }
}

.block-menu__dish {
  background-color: #FFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 5px 5px 15px 5px #c7c7c7;
          box-shadow: 5px 5px 15px 5px #c7c7c7;
  border-radius: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 5%;
  position: relative;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

@media screen and (min-width: 770px) {
  .block-menu__dish {
    margin-left: 30%;
    width: 30%;
    height: 80px;
    margin-bottom: 2%;
  }
}

@media screen and (max-width: 499px) {
  .block-menu__dish {
    height: 80px;
    max-height: 80px;
  }
}

@media screen and (min-width: 500px) and (max-width: 769px) {
  .block-menu__dish {
    height: 90px;
  }
}

.block-menu__dish__title {
  font-weight: bolder;
  min-height: 20px;
  margin-left: 5%;
  font-size: 1.5rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 8px;
}

@media screen and (min-width: 770px) {
  .block-menu__dish__title {
    margin-top: 0.5%;
  }
}

@media screen and (min-width: 771px) and (max-width: 1024px) {
  .block-menu__dish__title {
    font-size: 1.3rem;
  }
}

.block-menu__dish__quote {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: -1%;
}

@media screen and (min-width: 770px) {
  .block-menu__dish__quote {
    margin-top: -5%;
  }
}

@media screen and (min-width: 500px) and (max-width: 769px) {
  .block-menu__dish__quote {
    margin-top: -0%;
  }
}

.block-menu__dish__quote--text {
  margin-left: 5%;
  font-size: 1.3rem;
  z-index: 2;
  width: 90%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-transform: scale(1);
          transform: scale(1);
}

@media screen and (min-width: 771px) and (max-width: 1024px) {
  .block-menu__dish__quote--text {
    font-size: 1.1rem;
  }
}

.block-menu__dish__quote--price {
  font-size: 1.3rem;
  margin-right: 5%;
  font-weight: bold;
  -webkit-transform: scale(1);
          transform: scale(1);
  z-index: 2;
}

@media screen and (min-width: 771px) and (max-width: 1024px) {
  .block-menu__dish__quote--price {
    font-size: 1.2rem;
  }
}

.block-menu__dish__checked {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2.5rem;
  margin-right: 0%;
  margin-top: -10%;
  margin-left: 90%;
  z-index: 2;
}

.block-menu__dish__checked--logo {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #99E2D0;
  border-radius: 100px;
  background-color: #FFFF;
  width: 30px;
  height: 30px;
  opacity: 0;
  margin-top: -20px;
  margin-left: -30px;
  font-size: 1.5rem;
}

@media screen and (max-width: 320px) {
  .block-menu__dish__checked--logo {
    margin-top: -25px;
  }
}

@media screen and (max-width: 375px) {
  .block-menu__dish__checked--logo {
    margin-top: -30px;
  }
}

@media screen and (min-width: 770px) {
  .block-menu__dish__checked--logo {
    margin-top: -5px;
    margin-left: -60px;
  }
}

@media screen and (min-width: 500px) and (max-width: 769px) {
  .block-menu__dish__checked--logo {
    margin-top: 13px;
    margin-left: -35px;
  }
}

@media screen and (min-width: 770px) and (max-width: 1024px) {
  .block-menu__dish__checked--logo {
    margin-top: -35px;
    margin-left: -25px;
  }
}

.block-menu__dish__checked--logo i {
  margin-left: 5px;
  margin-top: 5px;
}

.block-menu__dish__checked--background {
  background-color: #99E2D0;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  width: 15%;
  height: 100%;
  position: absolute;
  left: 85%;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: right center;
          transform-origin: right center;
}

@media screen and (max-width: 499px) {
  .block-menu__dish__checked--background {
    width: 20%;
    left: 80%;
  }
}

@media screen and (min-width: 770px) {
  .block-menu__dish__checked--background {
    width: 20%;
    left: 80%;
  }
}

.block-menu__dish:hover > .block-menu__dish__title {
  -webkit-animation-name: dish-checked-quote-text-ellipsis;
          animation-name: dish-checked-quote-text-ellipsis;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@media screen and (max-width: 320px) {
  .block-menu__dish:hover > .block-menu__dish__title {
    -webkit-animation-name: dish-checked-quote-text-ellipsis-little;
            animation-name: dish-checked-quote-text-ellipsis-little;
  }
}

@media screen and (min-width: 770px) and (max-width: 1024px) {
  .block-menu__dish:hover > .block-menu__dish__title {
    -webkit-animation-name: dish-checked-quote-text-ellipsis-little;
            animation-name: dish-checked-quote-text-ellipsis-little;
  }
}

.block-menu__dish:hover > .block-menu__dish__quote > .block-menu__dish__quote--price {
  -webkit-animation-name: dish-checked-price-shift;
          animation-name: dish-checked-price-shift;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@media screen and (min-width: 770px) {
  .block-menu__dish:hover > .block-menu__dish__quote > .block-menu__dish__quote--price {
    -webkit-animation-name: dish-checked-price-shift-large;
            animation-name: dish-checked-price-shift-large;
  }
}

@media screen and (min-width: 500px) and (max-width: 769px) {
  .block-menu__dish:hover > .block-menu__dish__quote > .block-menu__dish__quote--price {
    -webkit-animation-name: dish-checked-price-shift-large;
            animation-name: dish-checked-price-shift-large;
  }
}

.block-menu__dish:hover > .block-menu__dish__quote > .block-menu__dish__quote--text {
  -webkit-animation-name: dish-checked-quote-text-ellipsis-little;
          animation-name: dish-checked-quote-text-ellipsis-little;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.block-menu__dish:hover > .block-menu__dish__checked > .block-menu__dish__checked--logo {
  -webkit-animation-name: dish-checked-logo-animation;
          animation-name: dish-checked-logo-animation;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.block-menu__dish:hover > .block-menu__dish__checked--background {
  -webkit-animation-name: dish-checked-background-scale;
          animation-name: dish-checked-background-scale;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes dish-checked-logo-animation {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(720deg);
            transform: rotate(720deg);
    opacity: 1;
  }
}

@keyframes dish-checked-logo-animation {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(720deg);
            transform: rotate(720deg);
    opacity: 1;
  }
}

@-webkit-keyframes dish-checked-price-shift {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-80px);
            transform: translateX(-80px);
  }
}

@keyframes dish-checked-price-shift {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-80px);
            transform: translateX(-80px);
  }
}

@-webkit-keyframes dish-checked-price-shift-large {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-95px);
            transform: translateX(-95px);
  }
}

@keyframes dish-checked-price-shift-large {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-95px);
            transform: translateX(-95px);
  }
}

@-webkit-keyframes dish-checked-background-scale {
  0% {
    -webkit-transform: scaleX(0.1);
            transform: scaleX(0.1);
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@keyframes dish-checked-background-scale {
  0% {
    -webkit-transform: scaleX(0.1);
            transform: scaleX(0.1);
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@-webkit-keyframes dish-checked-quote-text-ellipsis {
  0% {
    width: 90%;
  }
  100% {
    width: 60%;
  }
}

@keyframes dish-checked-quote-text-ellipsis {
  0% {
    width: 90%;
  }
  100% {
    width: 60%;
  }
}

@-webkit-keyframes dish-checked-quote-text-ellipsis-little {
  0% {
    width: 90%;
  }
  100% {
    width: 50%;
  }
}

@keyframes dish-checked-quote-text-ellipsis-little {
  0% {
    width: 90%;
  }
  100% {
    width: 50%;
  }
}

.footer {
  background-color: #3b3b3b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  width: 100%;
}

.footer__title {
  margin-left: 45%;
  font-weight: lighter;
  font-size: 2rem;
}

@media screen and (max-width: 499px) {
  .footer__title {
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 50px;
  }
}

.footer__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: -30px;
}

.footer__link a {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 90%;
  color: white;
  margin-left: 43%;
}

@media screen and (max-width: 499px) {
  .footer__link a {
    margin: 0 0 0 15px;
  }
}

/*Définition des couleurs*/
/*Définition des breakpoints*/
/*Variables relatives au animation*/
/*Valeurs diverses*/
.index-header {
  background-color: #F6F6F6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  width: 100%;
}

.index-header__title {
  width: 100%;
  background-color: #FFFF;
  z-index: 1;
  -webkit-box-shadow: 2px 7px 17px -5px #3b3b3b;
          box-shadow: 2px 7px 17px -5px #3b3b3b;
}

.index-header__title h1 {
  margin-left: 0%;
  text-align: center;
}

@media screen and (min-width: 770px) {
  .index-header__title h1 {
    margin-left: 0%;
  }
}

.index-header__location {
  width: 100%;
  background-color: #EAEAEA;
  height: 25%;
  z-index: 1;
  text-align: center;
  -webkit-box-shadow: 2px 7px 17px -5px #c7c7c7;
          box-shadow: 2px 7px 17px -5px #c7c7c7;
}

.index-header__location p {
  padding-left: 0%;
  font-size: 1.3rem;
  text-align: center;
}

.index-header__subtitle {
  margin-left: 0;
}

.index-header__quote {
  font-size: 1.2rem;
  margin-right: 2px;
  text-align: center;
}

.menu-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #FFFF;
}

.menu-logo a {
  font-size: 2rem;
  margin-left: 5%;
  padding-left: 20%;
}

@media screen and (min-width: 770px) {
  .menu-logo a {
    padding-left: 100%;
  }
}

@media screen and (min-width: 500px) and (max-width: 769px) {
  .menu-logo a {
    padding-left: 100%;
  }
}

.menu-logo__text {
  margin-left: 27%;
}

@media screen and (min-width: 770px) {
  .menu-logo__text {
    margin-left: 45%;
  }
}

@media screen and (min-width: 500px) and (max-width: 769px) {
  .menu-logo__text {
    margin-left: 35%;
  }
}

.menu-header {
  background-color: #F6F6F6;
}

.menu-header__photo {
  max-height: 300px;
  z-index: -1;
  max-width: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.menu-header__title {
  background-color: #F6F6F6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  z-index: 2;
  margin-top: -30px;
}

.menu-header__text {
  background-color: #F6F6F6;
  font-family: "shrikhand";
  font-size: 2rem;
}

.menu-header__heart {
  font-size: 2rem;
  margin-top: 1%;
}

@media screen and (min-width: 500px) and (max-width: 769px) {
  .menu-header__heart {
    margin-top: 2%;
  }
}

@media screen and (max-width: 499px) {
  .menu-header__heart {
    margin-top: 5%;
  }
}

@media screen and (min-width: 770px) {
  .instr {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.instr__step {
  border-radius: 30px;
  width: auto;
  max-width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-shadow: 5px 5px 15px 5px #c7c7c7;
          box-shadow: 5px 5px 15px 5px #c7c7c7;
  margin-bottom: 2%;
  margin-left: 5%;
}

.instr__step--pink {
  background-color: #F5EDFF;
}

@media screen and (min-width: 770px) {
  .instr__step {
    min-width: 30%;
    max-width: 30%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: 2%;
  }
}

.instr__step__number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #FFFF;
  border-radius: 100px;
  background-color: #9356DC;
  margin-left: -15px;
  height: 40px;
  width: 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 499px) {
  .instr__step__number {
    height: 30px;
    width: 30px;
  }
}

.instr__step__number p {
  font-size: 1.5rem;
}

@media screen and (max-width: 499px) {
  .instr__step__number p {
    font-size: 1.2rem;
  }
}

.instr__step__logo {
  margin-left: 8px;
  font-size: 1.5rem;
}

.instr__step__logo--pink {
  color: #9356DC;
}

.instr__step h4 {
  margin-left: 3%;
  margin-bottom: 20px;
}

h2 {
  margin-left: 15px;
}

@media screen and (min-width: 770px) {
  h2 {
    text-align: center;
  }
}

.rest-list {
  background-color: #F6F6F6;
}

@media screen and (min-width: 770px) {
  .rest-list {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.rest-block {
  background-color: #F6F6F6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  border-radius: 30px;
  max-height: 25%;
  max-width: 90%;
  margin-bottom: 20px;
  -webkit-box-shadow: -1px 5px 15px 5px #c7c7c7;
          box-shadow: -1px 5px 15px 5px #c7c7c7;
  margin-left: 5%;
}

@media screen and (min-width: 770px) {
  .rest-block {
    max-height: 40%;
    max-width: 30%;
    min-width: 30%;
    margin-left: 2.5%;
  }
}

.rest-block__image {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  max-height: 250px;
  max-width: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}

.rest-block__new {
  color: #0A6C6D;
  font-size: 1.2rem;
  z-index: 1;
  font-weight: bolder;
  height: 20px;
  width: 60px;
  background-color: #99E2D0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 85%;
  padding-left: 2px;
}

@media screen and (max-width: 499px) {
  .rest-block__new {
    left: 75%;
  }
}

.rest-block__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.rest-block__title__text {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 15px;
}

.rest-block__title__text p {
  font-size: 1.1rem;
}

.rest-block__title__heart {
  color: black;
  font-size: 2rem;
  margin: 15px 15px 0 0;
}
/*# sourceMappingURL=main.css.map */