.like-btn {
    position: relative;
    &--empty {
        opacity: 1;
        position: relative;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        &:hover {
            animation-name: disappear-empty;
            animation-duration: $like-btn-duration;
            animation-timing-function: linear;
            animation-fill-mode: forwards;
        }
    }
    &--full {
        color: #9c47fc;
        display: block;
        background: -webkit-linear-gradient(90deg, $color-primary 20%, $color-secondary 100%);
        display: block;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;    
        opacity: 0;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 3px;
        left: 0;
        z-index: 1;
        &:hover {
            animation-name : appear-full;
            animation-duration : $like-btn-duration;
            animation-timing-function: linear;
            animation-fill-mode: forwards;
        }
    }
}

@keyframes disappear-empty {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        color: #FFFF;  
    }
}
@keyframes appear-full {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;    
        transform: scale(1.1);
        z-index: 1;
    }
}
