body {
    position: relative;
}
.loading-spinner {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    opacity: 1;
    z-index: 2;
    margin-right: 0;
    margin-left: -15%;
    @include dekstop-rules {
        margin-left: 35%;
    }
    @include mobile-rules-M {
        margin-left: -100%;
    }
    @include tablet-rules  {
        margin-left: 5%;
    }
    @include mobile-rules-S {
        margin-left: -29%;
    }
    @include mobile-rules-L {
        margin-left: -18%;
    }
    p {
        padding-right: 10px;
    }
    &--o{
        animation-name: loading-spinner-animation;
        animation-duration: 4.5s;
        animation-timing-function: ease-in-out;
        animation-delay: 0s;
        animation-fill-mode: forwards ;
        opacity: 0;
        position: absolute;
        top: 6%;
        right: 0;
        bottom: 0;
        left: 100px;
        @include mobile-rules {
            left: 120px;
        }
        @include mobile-rules-S {
            left: 120px;
        }
    }
    &--h{
        animation-name: loading-spinner-animation;
        animation-duration: 4s;
        animation-timing-function: ease-in-out;
        animation-delay: 0.5s;
        animation-fill-mode: forwards ;
        opacity: 0;
        position: absolute;
        top: 6%;
        right: 0;
        bottom: 0;
        left: 150px;
        @include mobile-rules {
            left: 160px;
        }
        @include mobile-rules-S {
            left: 150px;
        }
    }
    &--m{
        animation-name: loading-spinner-animation;
        animation-duration: 3.5s;
        animation-timing-function: ease-in-out;
        animation-delay: 1s;
        animation-fill-mode: forwards ;
        opacity: 0;
        position: absolute;
        top: 6%;
        right: 0;
        bottom: 0;
        left: 200px;
        @include mobile-rules {
            left: 205px;
        }
        @include mobile-rules-S {
            left: 180px;
        }
    }
    &--y{
        animation-name: loading-spinner-animation;
        animation-duration: 3s;
        animation-timing-function: ease-in-out;
        animation-delay: 1.5s;
        animation-fill-mode: forwards ;
        opacity: 0;
        position: absolute;
        top: 6%;
        right: 0;
        bottom: 0;
        left: 270px;
        @include mobile-rules {
            left: 265px;
        }
        @include mobile-rules-S {
            left: 225px;
        }

    }
    &--f{
        animation-name: loading-spinner-animation;
        animation-duration: 2.5s;
        animation-timing-function: ease-in-out;
        animation-delay: 2s;
        animation-fill-mode: forwards ;
        opacity: 0;
        position: absolute;
        top: 6%;
        right: 0;
        bottom: 0;
        left: 320px;
        @include mobile-rules {
            left: 305px;
        }
        @include mobile-rules-S {
            left: 255px;
        }
    }
    &--o2{
        animation-name: loading-spinner-animation;
        animation-duration: 2s;
        animation-timing-function: ease-in-out;
        animation-delay: 2.5s;
        animation-fill-mode: forwards ;
        opacity: 0;
        position: absolute;
        top: 6%;
        right: 0;
        bottom: 0;
        left: 360px;
        @include mobile-rules {
            left: 340px;
        }
        @include mobile-rules-S {
            left: 275px;
        }
    }
    &--o3{
        animation-name: loading-spinner-animation;
        animation-duration: 1.5s;
        animation-timing-function: ease-in-out;
        animation-delay: 3s;
        animation-fill-mode: forwards ;
        opacity: 0;
        position: absolute;
        top: 6%;
        right: 0;
        bottom: 0;
        left: 410px;
        @include mobile-rules {
            left: 380px;
        }
        @include mobile-rules-S {
            left: 305px;
        }
    }
    &--d{
        animation-name: loading-spinner-animation;
        animation-duration: 1s;
        animation-timing-function: ease-in-out;
        animation-delay: 3.5s;
        animation-fill-mode: forwards ;
        opacity: 0;
        position: absolute;
        top: 6%;
        right: 0;
        bottom: 0;
        left: 460px;
        @include mobile-rules {
            left: 420px;
        }
        @include mobile-rules-S {
            left: 330px;
        }
    }
}
.blur-target {
    animation-name: loading-spinner-body-blur;
    animation-duration: 2s;
    animation-delay: 4s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards; 
    opacity: 0.1;
}

@keyframes loading-spinner-animation {
    0% {
        transform: translateY(50%);
        opacity: 0.5;
        color: black;
    }
    50% {
        transform: translateY(0%);
        opacity: 1;
        color:black;
    }
    75% {
        opacity: 0.8;
    }
    100% {
        opacity: 0;
        color: $color-secondary;
        z-index: -3;
        display: none;
    }
}
@keyframes loading-spinner-body-blur {
    0% {
        opacity: 0.1;
    }

    100% {
        opacity: 1;
    }
}