body {
    position: relative;
}
.loading-spinner {
    display: flex;
    flex-direction: row;
    opacity: 1;
    z-index: 2;
    p {
        padding-right: 10px;
    }
    &--o{
        animation-name: loading-spinner-animation;
        animation-duration: 8s;
        animation-timing-function: ease-in-out;
        animation-delay: 0s;
        animation-fill-mode: forwards ;
        opacity: 0;
        position: absolute;
        top: 6%;
        right: 0;
        bottom: 0;
        left: 100px;
    }
    &--h{
        animation-name: loading-spinner-animation;
        animation-duration: 7s;
        animation-timing-function: ease-in-out;
        animation-delay: 0.5s;
        animation-fill-mode: forwards ;
        opacity: 0;
        position: absolute;
        top: 6%;
        right: 0;
        bottom: 0;
        left: 150px;
        
    }
    &--m{
        animation-name: loading-spinner-animation;
        animation-duration: 6s;
        animation-timing-function: ease-in-out;
        animation-delay: 1s;
        animation-fill-mode: forwards ;
        opacity: 0;
        position: absolute;
        top: 6%;
        right: 0;
        bottom: 0;
        left: 200px;
    }
    &--y{
        animation-name: loading-spinner-animation;
        animation-duration: 5s;
        animation-timing-function: ease-in-out;
        animation-delay: 1.5s;
        animation-fill-mode: forwards ;
        opacity: 0;
        position: absolute;
        top: 6%;
        right: 0;
        bottom: 0;
        left: 270px;

    }
    &--f{
        animation-name: loading-spinner-animation;
        animation-duration: 4s;
        animation-timing-function: ease-in-out;
        animation-delay: 2s;
        animation-fill-mode: forwards ;
        opacity: 0;
        position: absolute;
        top: 6%;
        right: 0;
        bottom: 0;
        left: 320px;
    }
    &--o2{
        animation-name: loading-spinner-animation;
        animation-duration: 3s;
        animation-timing-function: ease-in-out;
        animation-delay: 2.5s;
        animation-fill-mode: forwards ;
        opacity: 0;
        position: absolute;
        top: 6%;
        right: 0;
        bottom: 0;
        left: 360px;
    }
    &--o3{
        animation-name: loading-spinner-animation;
        animation-duration: 2s;
        animation-timing-function: ease-in-out;
        animation-delay: 3s;
        animation-fill-mode: forwards ;
        opacity: 0;
        position: absolute;
        top: 6%;
        right: 0;
        bottom: 0;
        left: 410px;
    }
    &--d{
        animation-name: loading-spinner-animation;
        animation-duration: 1s;
        animation-timing-function: ease-in-out;
        animation-delay: 3.5s;
        animation-fill-mode: forwards ;
        opacity: 0;
        position: absolute;
        top: 6%;
        right: 0;
        bottom: 0;
        left: 460px;
    }
}
.blur-target {
    animation-name: loading-spinner-body-blur;
    animation-duration: 2s;
    animation-delay: 6s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards; 
    opacity: 0.1;
}

@keyframes loading-spinner-animation {
    0% {
        transform: translateY(50%);
        opacity: 0.5;
    }
    50% {
        transform: translateY(0%);
        opacity: 1;
    }
    75% {
        opacity: 0.8;
    }
    100% {
        opacity: 0;
        z-index: -3;
    }
}
@keyframes loading-spinner-body-blur {
    0% {
        opacity: 0.1;
    }

    100% {
        opacity: 1;
    }
}