.instr {
    @include dekstop-rules {
        align-items: center;
    }
}
.instr__step {
    border-radius: $border-rad;
    width: auto;
    max-width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    box-shadow: 5px 5px 15px 5px $lightGrey;
    margin-bottom: 2%;
    margin-left: 5%;
    @include dekstop-rules {
        min-width: 30%;
        max-width: 30%;
        justify-content: center;
        margin-left: 2%;
    }
    &__number {
        display: flex;
        color: $white;
        border-radius: 100px;
        background-color: $color-primary;
        margin-left: -15px;
        height: 40px;
        width: 40px;
        justify-content: center;
        align-items: center;
        @include mobile-rules {
            height: 30px;
            width: 30px;
        }
        p {
            font-size: 1.5rem;
            @include mobile-rules {
                font-size: 1.2rem;
            }
        }
    }
    &__logo {
        margin-left: 8px;
        font-size: 1.5rem;
        &--pink{
            color: $color-primary;
        }
    }
    h4 {
        margin-left: 3%;
        margin-bottom: 20px;
    }
}
h2 {
    margin-left: 15px;
    @include dekstop-rules {
        text-align: center;
    }
}