/*Définition des couleurs*/

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-primary-lighten: lighten($color-primary, 10%);
$color-secondary-lighten: lighten($color-secondary, 10%);
$color-tertiary: #99E2D0;
$black: #0000;
$white: #FFFF;
$lightGrey: #c7c7c7;
$darkGrey: #3b3b3b;
$lightGreen: #99E2D0;
$darkGreen: #0A6C6D;

/*Définition des breakpoints*/

$mobile-max-width: 450px;
$tablet-min-width: 451px; 
$tablet-max-width: 1000px;
$desktop-min-width: 1001px;

/*Variables relatives au animation*/

$like-btn-duration: 250ms;

$dish-appear-animation-duration: 1000ms;
$dish-appear-animation-delay: 1000ms;
$dish-appear-animation-Y-distance: 20px;

/*Valeurs diverses*/
$border-rad: 30px;
