.footer {
    background-color: $darkGrey;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    &__title {
        margin-left: 10%;
    }
    &__link {
        a {
        color:white;
        margin-left: 10%;
        }
    }
}