@import "../utils/variables";

header {
    justify-content: center;
    h1 {
        background-color: $white;
        height: 15%;
        box-shadow: 2px 7px 17px -5px rgba(0,0,0,0.71);        
    }
    .header__location {
        background-color: $lightGrey;
        height: 10%;        
    }
}